<h1>About</h1>
<div class="author">
    <h1 class="author__heading">Hi, I am Joyel Sebastian.</h1>
    <p class="author__body">Full Stack Developer.</p>
    <p class="author__body">A Simple Blog created using NodeJS, Express and MongoDB.</p>
</div>
